

.cabecalho_container {
    background-color: #baacc8;
    padding: 10px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: none;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding-top: .75rem;
    padding-bottom: .75rem;
    position: absolute;
}

.container_form_admin {
    background: conic-gradient(at 10% 50%, #0000 75%, #f4e6e7 0), conic-gradient(at 10% 50%, #0000 75%, #f4e6e7 0) calc(1* 62px) calc(3* 62px), conic-gradient(at 10% 50%, #0000 75%, #f4e6e7 0) calc(2* 62px) calc(1* 62px), conic-gradient(at 10% 50%, #0000 75%, #f4e6e7 0) calc(3* 62px) calc(4* 62px), conic-gradient(at 10% 50%, #0000 75%, #f4e6e7 0) calc(4* 62px) calc(2* 62px), conic-gradient(at 50% 10%, #0000 75%, #f4e6e7 0) 0 calc(4* 62px), conic-gradient(at 50% 10%, #0000 75%, #f4e6e7 0) calc(1* 62px) calc(2* 62px), conic-gradient(at 50% 10%, #0000 75%, #f4e6e7 0) calc(2* 62px) 0, conic-gradient(at 50% 10%, #0000 75%, #f4e6e7 0) calc(3* 62px) calc(3* 62px), conic-gradient(at 50% 10%, #0000 75%, #f4e6e7 0) calc(4* 62px) calc(1* 62px), #f7ebec;
    background-size: 310px 310px;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1{
    color: #127475;
    font-size: 64px;
    margin-bottom: 20px;
}

label{
    font-size: 25px;
    color:#127475;
}

form {

    width: 300px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 40px;
    background-color: #127475;
    color: #ffffff;
    font-size: 20px;

}

input {
    display: block;
    width: 92%;
    margin-bottom: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



#lista-usuarios{
    background: conic-gradient(at 10% 50%, #0000 75%, #c5e3e4 0), conic-gradient(at 10% 50%, #0000 75%, #c5e3e4 0) calc(1* 62px) calc(3* 62px), conic-gradient(at 10% 50%, #0000 75%, #c5e3e4 0) calc(2* 62px) calc(1* 62px), conic-gradient(at 10% 50%, #0000 75%, #c5e3e4 0) calc(3* 62px) calc(4* 62px), conic-gradient(at 10% 50%, #0000 75%, #c5e3e4 0) calc(4* 62px) calc(2* 62px), conic-gradient(at 50% 10%, #0000 75%, #c5e3e4 0) 0 calc(4* 62px), conic-gradient(at 50% 10%, #0000 75%, #c5e3e4 0) calc(1* 62px) calc(2* 62px), conic-gradient(at 50% 10%, #0000 75%, #c5e3e4 0) calc(2* 62px) 0, conic-gradient(at 50% 10%, #0000 75%, #c5e3e4 0) calc(3* 62px) calc(3* 62px), conic-gradient(at 50% 10%, #0000 75%, #c5e3e4 0) calc(4* 62px) calc(1* 62px), #c5e3e45e;
    background-size: 310px 310px;
    padding-bottom: 2rem;
    padding-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
