.contato {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.contato__titulo {
    color: #4F4C4C;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    text-align: center;
    text-transform: uppercase;
}

.contato__botao {
    border-color: #4F4C4C;
    color: #4F4C4C;
    margin-top: 1rem;
}